<h1>
    Yu-Gi-Oh!<br>
    <span>Health Points Counter</span>
</h1>

<div class="points">
    <h2 *ngIf="points > 0">{{points}}</h2>
    <h2 *ngIf="points <= 0" class="defeat">Perdiste</h2>
</div>

<div class="points_controls">
    <input type="number" placeholder="Cantidad de puntos" value="0" #pointsInput>
    <button (click)="pointsCalcSub(pointsInput.value)">-</button>
    <button (click)="pointsCalcAdd(pointsInput.value)">+</button>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<h3>Contadores</h3>

<div class="contador_field monsters">
    <p>{{counterPts[0]}}</p>
    <button (click)="counterAdd(0)">+</button>
    <button (click)="counterSub(0)">-</button>
</div>
<div class="contador_field monsters">
    <p>{{counterPts[1]}}</p>
    <button (click)="counterAdd(1)">+</button>
    <button (click)="counterSub(1)">-</button>
</div>
<div class="contador_field monsters">
    <p>{{counterPts[2]}}</p>
    <button (click)="counterAdd(2)">+</button>
    <button (click)="counterSub(2)">-</button>
</div>
<div class="contador_field monsters">
    <p>{{counterPts[3]}}</p>
    <button (click)="counterAdd(3)">+</button>
    <button (click)="counterSub(3)">-</button>
</div>
<div class="contador_field monsters">
    <p>{{counterPts[4]}}</p>
    <button (click)="counterAdd(4)">+</button>
    <button (click)="counterSub(4)">-</button>
</div>
<div class="clear"></div>

<hr>

<div class="contador_field trap_spell">
    <p>{{counterPts[5]}}</p>
    <button (click)="counterAdd(5)">+</button>
    <button (click)="counterSub(5)">-</button>
</div>
<div class="contador_field trap_spell">
    <p>{{counterPts[6]}}</p>
    <button (click)="counterAdd(6)">+</button>
    <button (click)="counterSub(6)">-</button>
</div>
<div class="contador_field trap_spell">
    <p>{{counterPts[7]}}</p>
    <button (click)="counterAdd(7)">+</button>
    <button (click)="counterSub(7)">-</button>
</div>
<div class="contador_field trap_spell">
    <p>{{counterPts[8]}}</p>
    <button (click)="counterAdd(8)">+</button>
    <button (click)="counterSub(8)">-</button>
</div>
<div class="contador_field trap_spell">
    <p>{{counterPts[9]}}</p>
    <button (click)="counterAdd(9)">+</button>
    <button (click)="counterSub(9)">-</button>
</div>
<div class="clear"></div>
